05_Miniejercicios/05_pingüinos/XSD.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="reserva">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="especies" type="especiesType"/>
                <xsd:element name="habitats" type="habitatsType"/>
                <xsd:element name="cuidadores" type="cuidadoresType"/>
            </xsd:sequence>
        </xsd:complexType>

        <xsd:key name="claveIDEspecie">
            <xsd:selector xpath="especies/especie"/>
            <xsd:field xpath="@idEspecie"/>
        </xsd:key>

        <xsd:key name="claveIDHabitat">
            <xsd:selector xpath="habitats/habitat"/>
            <xsd:field xpath="@idHabitat"/>
        </xsd:key>

        <xsd:key name="claveIDCuidador">
            <xsd:selector xpath="cuidadores/cuidador"/>
            <xsd:field xpath="@idCuidador"/>
        </xsd:key>

        <xsd:keyref name="claveRefHabitatId" refer="claveIDHabitat">
            <xsd:selector xpath="cuidadores/cuidador"/>
            <xsd:field xpath="@habitatId"/>
        </xsd:keyref>


    </xsd:element>

    <!-- ESPECIE -->
    <xsd:complexType name="especiesType">
        <xsd:sequence>
            <xsd:element name="especie" type="especieType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="especieType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="tamaño" type="tamañoType"/>
            <xsd:element name="peso" type="pesoType"/>
        </xsd:sequence>
        <xsd:attribute name="idEspecie" type="idEspecieType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="idEspecieType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="E_[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="tamañoType">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="30"/>
            <xsd:maxInclusive value="130"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="pesoType">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="5"/>
            <xsd:fractionDigits value="3"/>
            <xsd:minInclusive value="1.000"/>
            <xsd:maxInclusive value="40.000"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- HABITATS -->
    <xsd:complexType name="habitatsType">
        <xsd:sequence>
            <xsd:element name="habitat" type="habitatType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="habitatType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="temperatura" type="xsd:integer"/>
            <xsd:element name="superficie" type="superficieType"/>
        </xsd:sequence>
        <xsd:attribute name="idHabitat" type="idHabitatType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="idHabitatType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="H_[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="superficieType">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="8"/>
            <xsd:fractionDigits value="2"/>
            <xsd:minInclusive value="0.01"/>
            <xsd:maxInclusive value="999999.99"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- CUIDADORES -->
    <xsd:complexType name="cuidadoresType">
        <xsd:sequence>
            <xsd:element name="cuidador" type="cuidadorType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cuidadorType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="experiencia" type="xsd:integer"/>
        </xsd:sequence>
        <xsd:attribute name="idCuidador" type="idCuidadorType" use="required"/>
        <xsd:attribute name="habitatId" type="idHabitatType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="idCuidadorType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="C_[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>