05_Miniejercicios/03_Straming/XSD.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="straming">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="contenido" type="contenidoType"/>
                <xsd:element name="directores" type="directoresType"/>
                <xsd:element name="usuarios" type="usuariosType"/>
            </xsd:sequence>
        </xsd:complexType>

        <xsd:key name="claveIDTitulo">
            <xsd:selector xpath="contenido/titulo"/>
            <xsd:field xpath="@idTitulo"/>
        </xsd:key>

        <xsd:key name="claveIDDirector">
            <xsd:selector xpath="directores/director"/>
            <xsd:field xpath="@idDirector"/>
        </xsd:key>

        <xsd:key name="claveIDUsuario">
            <xsd:selector xpath="usarios/usuario"/>
            <xsd:field xpath="@idUsuario"/>
        </xsd:key>

        <xsd:keyref name="claveRefdirectorId" refer="claveIDDirector">
            <xsd:selector xpath="contenido/titulo"/>
            <xsd:field xpath="@directorId"/>
        </xsd:keyref>

        <xsd:keyref name="claveRefContenidoId" refer="claveIDTitulo">
            <xsd:selector xpath="usuarios/usuario/historial/visualizacion"/>
            <xsd:field xpath="@contenidoId"/>
        </xsd:keyref>

    </xsd:element>


<!-- CONTENIDO -->
    <xsd:complexType name="contenidoType">
        <xsd:sequence>
            <xsd:element name="titulo" type="tituloType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tituloType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string" maxOccurs="unbounded"/>
            <xsd:element name="tipo" type="tipoType"/>
            <xsd:element name="genero" type="xsd:string"/>
            <xsd:element name="anioEstreno" type="anioEstrenoType"/>
            <xsd:element name="calificacion" type="xsd:positiveInteger"/>
        </xsd:sequence>
        <xsd:attribute name="idTitulo" type="idTituloType" use="required"/>
        <xsd:attribute name="directorId" type="idDirectorType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="tipoType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="pelicula"/>
            <xsd:enumeration value="serie"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="anioEstrenoType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="idTituloType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="T_[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

<!-- DIRECTORES -->
    <xsd:complexType name="directoresType">
        <xsd:sequence>
            <xsd:element name="director" type="directorType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="directorType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="pais" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="idDirector" type="idDirectorType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="idDirectorType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="D_[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

<!-- USUARIOS-->
    <xsd:complexType name="usuariosType">
        <xsd:sequence>
            <xsd:element name="usuario" type="usuarioType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="usuarioType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="email" type="emailType"/>
            <xsd:element name="subscripcion" type="subscripcionType"/>
            <xsd:element name="historial" type="historialType"/>
        </xsd:sequence>
        <xsd:attribute name="idUsuario" type="idUsuarioType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="idUsuarioType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="U_[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="emailType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9._+-]+@[a-zA-Z0-9._+-]+\.[a-zA-Z]{2,10}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="subscripcionType">
        <xsd:simpleContent>
            <xsd:extension base="restriccionBaseSubscripcion">
                <xsd:attribute name="dia-renovacion" type="dia-renovacionType" use="required"/>
                <xsd:attribute name="fin-contrato" type="fin-contratoType" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="restriccionBaseSubscripcion">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="básica"/>
            <xsd:enumeration value="estándar"/>
            <xsd:enumeration value="premium"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="dia-renovacionType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="31"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="fin-contratoType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="31"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="historialType">
        <xsd:sequence>
            <xsd:element name="visualizacion" type="visualizacionType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="visualizacionType">
        <xsd:sequence>
            <xsd:element name="fecha" type="xsd:date"/>
            <xsd:element name="progreso" type="progresoType"/>
        </xsd:sequence>
        <xsd:attribute name="contenidoId" type="idTituloType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="progresoType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,3}%"></xsd:pattern>
        </xsd:restriction>
    </xsd:simpleType>


</xsd:schema>