03_Ejercicios_Claves/03_Ejercicio.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- ELEMENTO RAIZ-->
    <xsd:element name="empresa">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="departamentos" type="departamentosType" maxOccurs="unbounded" />
                <xsd:element name="empleados" type="empleadosType" maxOccurs="unbounded" />
                <xsd:element name="proyectos" type="proyectosType" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- ELEMENTO DEPARTAMENTOSTYPE-->
    <xsd:complexType name="departamentosType">
        <xsd:sequence>
            <xsd:element name="departamento" type="departamentoType" />
        </xsd:sequence>
    </xsd:complexType>

    <!-- ELEMENTO DEPARTAMENTOTYPE-->
    <xsd:complexType name="departamentoType">
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="nombre" type="xsd:string" />
    </xsd:complexType>

    <!-- ELEMENTO EMPLEADOS-->
    <xsd:complexType name="empleadosType">
        <xsd:sequence>
            <xsd:element name="empleado" type="empleadoType" />
        </xsd:sequence>
    </xsd:complexType>

    <!-- ELEMENTO EMPLEADO-->
    <xsd:complexType name="empleadoType">
        <xsd:attribute name="id" type="xsd:string" />
        <xsd:attribute name="nombre" type="xsd:string" />
        <xsd:attribute name="departamento" type="xsd:string" />
    </xsd:complexType>

    <!-- ELEMENTO PROYECTOS-->
    <xsd:complexType name="proyectosType">
        <xsd:sequence>
            <xsd:element name="proyecto" type="proyectoType"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ELEMENTO PROYECTO-->
    <xsd:complexType name="proyectoType">
            <xsd:attribute name="id" type="xsd:string" />
            <xsd:attribute name="nombre" type="xsd:string" />
            <xsd:attribute name="empleado" type="xsd:string" />
    </xsd:complexType>

</xsd:schema>