05_miniejericios/01_Tienda/XSD.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="pedidos">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="pedido" type="pedidoType" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>

        <xsd:key name="claveIDPedido">
            <xsd:selector xpath="pedido"/>
            <xsd:field xpath="@idPedido"/>
        </xsd:key>

        <xsd:key name="claveIDCliente">
            <xsd:selector xpath="pedido/cliente"/>
            <xsd:field xpath="@idCliente"/>
        </xsd:key>

        <xsd:key name="claveIDProducto">
            <xsd:selector xpath="pedido/productos/producto"/>
            <xsd:field xpath="@idProducto"/>
        </xsd:key>

    </xsd:element>

    <xsd:complexType name="pedidoType">
        <xsd:sequence>
            <xsd:element name="fecha" type="fechaType"/>
            <xsd:element name="cliente" type="clienteType"/>
            <xsd:element name="productos" type="productosType"/>
        </xsd:sequence>
        <xsd:attribute name="idPedido" type="idPedidoType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="idPedidoType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="Pe[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="fechaType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>        
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="clienteType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="email" type="emailType"/>
            <xsd:element name="telefono" type="xsd:integer"/>
        </xsd:sequence>
        <xsd:attribute name="idCliente" type="idClienteType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="idClienteType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="C[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="emailType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9_+-]+@[a-zA-Z0-9_+-]+\.[a-zA-Z0-9]{2,10}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="productosType">
        <xsd:sequence>
            <xsd:element name="producto" type="productoType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="productoType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="precio" type="precioType"/>
            <xsd:element name="cantidad" type="cantidadType" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="idProducto" type="idProductoType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="idProductoType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="Pr[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="precioType">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="8"/>
            <xsd:fractionDigits value="2"/>
            <xsd:minInclusive value="0.01"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="cantidadType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>