05_Miniejercicios/04_Biblioteca/XSD.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="biblioteca">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="juego" type="juegoType"/>
            </xsd:sequence>
        </xsd:complexType>

        <xsd:key name="claveIDJuego">
            <xsd:selector xpath="juego"/>
            <xsd:field xpath="@idJuego"/>
        </xsd:key>

        <xsd:key name="idUsuario">
            <xsd:selector xpath="juego/usuarios/usuario"/>
            <xsd:field xpath="@idUsuario"/>
        </xsd:key>

    </xsd:element>

    <xsd:complexType name="juegoType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="genero" type="xsd:string"/>
            <xsd:element name="fecha_lanzamiento" type="xsd:date"/>
            <xsd:element name="desarrollador" type="desarrolladorType"/>
            <xsd:element name="usuarios" type="usuariosType"/>
        </xsd:sequence>
        <xsd:attribute name="idJuego" type="idJuegoType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="idJuegoType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="J[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="desarrolladorType">
        <xsd:sequence>
            <xsd:element name="nombre_estudio" type="xsd:string"/>
            <xsd:element name="pais" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="usuariosType">
        <xsd:sequence>
            <xsd:element name="usuario" type="usuarioType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="usuarioType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="email" type="emailType"/>
            <xsd:element name="horas_jugado" type="xsd:positiveInteger"/>
        </xsd:sequence>
        <xsd:attribute name="idUsuario" type="idUsuarioType" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="idUsuarioType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="U[0-9]{3}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="emailType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9._+-]+@[a-zA-Z0-9]+\.[a-zA-Z0-9]{2,10}"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>