MiniEjercicios/03_Streaming/03_Straming_schema.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="streaming">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="contenido" type="contenidoType"/>
                <xsd:element name="directores" type="directoresType"/>
                <xsd:element name="usuarios" type="usuariosType"/>
            </xsd:sequence>
        </xsd:complexType>

        <xsd:key name="contenidoID">
            <xsd:selector xpath="streaming/contenido/titulo"/>
            <xsd:field xpath="@id"/>
        </xsd:key> 

        <xsd:key name="directorID">
            <xsd:selector xpath="streaming/directores/director"/>
            <xsd:field xpath="@id"></xsd:field>
        </xsd:key>

        <xsd:key name="usuarioID">
            <xsd:selector xpath="streaming/usuarios/usuario"/>
            <xsd:field xpath="@id"/>
        </xsd:key>

        <xsd:keyref name="directorRefID" refer="directorID">
            <xsd:selector xpath="streaming/contenido/titulo"/>
            <xsd:field xpath="@directorId"></xsd:field>
        </xsd:keyref>

        <xsd:keyref name="contenidoRefID" refer="contenidoID">
            <xsd:selector xpath="straming/historial/visualizacion"/>
            <xsd:field xpath="@contenidoID"/>
        </xsd:keyref>

    </xsd:element>

    <xsd:complexType name="contenidoType">
        <xsd:sequence>
            <xsd:element name="titulo" type="tituloType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="tituloType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="tipo" type="tipoType"/>
            <xsd:element name="genero" type="xsd:string"/>
            <xsd:element name="anioEstreno" type="xsd:integer"/>
            <xsd:element name="calificacion" type="xsd:integer"/>
        </xsd:sequence>
        <xsd:attribute name="directorId" type="xsd:string"/>
        <xsd:attribute name="id" type="xsd:string" use="required"/>       <!-- xsd:string o ID ->  id (atributo único) -->
    </xsd:complexType>

    <xsd:simpleType name="tipoType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="pelicula"/>
            <xsd:enumeration value="serie"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- <xsd:complexType name="directoresType">
        <xsd:sequence>
            <xsd:element name="director" type="directorType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType> -->

    <xsd:complexType name="directorType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="pais" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="usuariosType">
        <xsd:sequence>
            <xsd:element name="usuario" type="usuarioType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="usuarioType">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="suscripcion" type="suscripcionType"/>
            <xsd:element name="historial" type="historialType"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="suscripcionType">
        <xsd:simpleContent>
            <xsd:extension base="restriccionSuscripcionType">
                <xsd:attribute name="dia-renovacion" type="dia-renovacionType" use="required"/>
                <xsd:attribute name="fin-contrato" type="fin-contratoType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="restriccionSuscripcionType"> <!-- texto dentro de suscripcion -->
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="basica"/>
            <xsd:enumeration value="estándar"/>
            <xsd:enumeration value="premium"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="dia-renovacionType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="31"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="fin-contratoType">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="31"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="historialType">
        <xsd:sequence>
            <xsd:element name="visualizacion" type="visualizacionType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="visualizacionType">
        <xsd:sequence>
            <xsd:element name="fecha" type="xsd:string"/>
            <xsd:element name="progreso" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="contenidoId" type="xsd:string" use="required"/>
    </xsd:complexType>

</xsd:schema>